<!DOCTYPE html>
<html>

<head>
  <!-- DevBot Title -->
  <title>DevBot</title>

  <!-- All external scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js" type="text/javascript" charset="utf-8"></script>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-analytics.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>


</head>

<body>

  <!-- Main body of app -->
  <div class="jumbotron body" style="padding-top: 20px !important;">
    <div class="row" id="big-header-row">
      <h3 class="header">Welcome to &lt;DevBot /&gt;.</h3>
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <h4 style="margin-bottom: 30px; margin-right: 10px;">Toggle:</h4>
        <select id="language-switch">
          <option>Java</option>
          <option>Python</option>
          <option>Bash</option>
          <option>SQL</option>
          <option>HTML</option>
          <option>XML</option>
          <option>SQL</option>
          <option>CSS</option>
          <option>Javascript</option>
          <option>Makefile</option>
          <option>Rust</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div id="code-commands">
        <div class="col-lg-12">
          <div id="code-field"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="prototype">
            <div id="prototype-row">
              <div id="prototype-header">
                <h5>Quick Commands</h5>
                <p style="font-size: 14px;">Usage: "DevBot {command}"</p>
              </div>
              <div id="contact"><button type="button" class="btn btn-primary btn"
                  style="background-color: #990099 !important;" data-toggle="modal"
                  data-target="#contact-modal">+</button></div>
            </div>
            <div class="command-list">
              <% data.forEach(function(command){ %>
              <div class="card text-white bg-primary mb-3"
                style="max-width: 18rem; background-color: #990099 !important;">
                <div class="card-body">
                  <h5 class="card-text"><%= command.shortcut %></h5>
                </div>
              </div>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Recommended Sources -->
    <div id="recommended-field">
      <div class="horizontal-scroll">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Create Command Modal -->
  <div id="contact-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Create Command</h3>
          <a class="close" data-dismiss="modal">×</a>
        </div>
        <form id="contactForm" name="contact" role="form">
          <div class="modal-body">
            <div class="form-group">
              <label for="shortcut">Shortcut</label>
              <input type="text" name="shortcut" class="form-control" id="shortcut_input">
            </div>
            <div class="form-group">
              <label for="language">Language</label>
              <select class="form-control" id="language">
                <option>Java</option>
                <option>Python</option>
                <option>Bash</option>
                <option>SQL</option>
                <option>HTML</option>
                <option>XML</option>
                <option>SQL</option>
                <option>CSS</option>
                <option>Javascript</option>
                <option>Makefile</option>
                <option>Rust</option>
              </select>
            </div>
            <div class="form-group">
              <label for="data">Full Body</label>
              <textarea rows="12" name="data" class="form-control" id="data_input"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" value="Create" style="background-color: #990099 !important;" id="create-btn"
              type="submit" disabled="true">
              <span id="loader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span id="submit_text"></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

<!-- ACE Themes -->
<script>
  var editor = ace.edit("code-field");
  editor.setTheme("ace/theme/xcode");
  editor.session.setMode('ace/mode/swift');
  editor.setValue('class DevBot {\n\n}');
  $(document).on('change', '#language-switch', function () {
    const language = $('#language-switch').val();
    editor.session.setMode(`ace/mode/${language.toLowerCase()}`);
  });
</script>

<!-- Loading animation and post requests -->
<script>
  $('#create-btn').removeAttr('disabled');
  $('#loader').hide();
  $('#submit_text').text('Create');
  $('#create-btn').click(e => {
    if (!$('#shortcut_input').val() || !$('#data_input').val()) return false;
    $('#create-btn').attr('disabled', 'true');
    $('#loader').show();
    $('#submit_text').text('Loading...');
    let post_data = {
      shortcut: $('#shortcut_input').val(),
      language: $('#language').val(),
      full: $('#data_input').val()
    }
    $.post('/create', post_data, function (data) {
      if (data) setTimeout(() => {
        window.location.href = '/';
        document.location.refresh();
        $('#create-btn').removeAttr('disabled');
        $('#loader').hide();
        $('#submit_text').text('Create');
        if (data === 'Failure') {
          alert("Please enter a unique shortcut!")
        }
      }, 1500);
    });
  });
</script>

<!-- Firebase -->
<script src="/javascripts/firebase.js"></script>

</html>