<!DOCTYPE html>
<html>

<head>
  <!-- DevBot Title -->
  <title>DevBot</title>

  <!-- All external scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js" type="text/javascript" charset="utf-8"></script>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/devbot_favicons.ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60"
    href="/images/devbot_favicons.ico/images/devbot_favicons.ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/devbot_favicons.ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/devbot_favicons.ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/devbot_favicons.ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/devbot_favicons.ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/devbot_favicons.ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/devbot_favicons.ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/devbot_favicons.ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/images/devbot_favicons.ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/devbot_favicons.ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/devbot_favicons.ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/devbot_favicons.ico/favicon-16x16.png">
  <link rel="manifest" href="/images/devbot_favicons.ico/manifest.json">
  <meta name="msapplication-TileColor" content="">
  <meta name="msapplication-TileImage" content="/images/devbot_favicons.ico/ms-icon-144x144.png">
  <meta name="theme-color" content="">

  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
</head>

<body>
  <!-- Welcome message -->
  <div class="modal fade" id="welcome" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="welcome-modal">
          <h1>Welcome to</h1><br>
          <img src="/images/devbot.png" height=110 width=300 />
          <br>
          <br>
          <h5 class="welcome-text-5">"Alexa, Launch DevBot"</h5>
          <br>
          <h5 class="welcome-text-4">
            <hr />
            Significantly reduce coding time with <br> voice-recognition technology
            <hr />
          </h5>
          <br>
          <p class="welcome-text-6">You need an Alexa-enabled device to run this program</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Custom Alert -->
  <div id="custom-alert"></div>

  <!-- Main body of app -->
  <div class="jumbotron body" style="padding-top: 20px !important;">
    <div class="row" id="big-header-row">
      <h3 class="header">Start Coding With <img src="/images/devbot.png" height=60 width=170
          style="margin-bottom: 3px; margin-left: 3px;" />!</h3>
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <h4 style="margin-bottom: 30px; margin-right: 10px;">Toggle:</h4>
        <select id="language-switch">
          <option>Java</option>
          <option>Python</option>
          <option>Bash</option>
          <option>SQL</option>
          <option>HTML</option>
          <option>XML</option>
          <option>SQL</option>
          <option>CSS</option>
          <option>Javascript</option>
          <option>Makefile</option>
          <option>Rust</option>
        </select>
      </div>
    </div>

    <!-- Coding editor and Quick Commands -->
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-12">
        <div id="code-field"></div>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12">
        <div class="prototype">
          <div id="prototype-row">
            <div id="prototype-header">
              <h5>Quick Commands</h5>
              <p style="font-size: 14px;">Usage: "DevBot {command}"</p>
            </div>
            <div id="contact"><button type="button" class="btn btn-primary btn"
                style="background-color: #990099 !important;" data-toggle="modal"
                data-target="#contact-modal">+</button></div>
          </div>
          <div class="command-list">
            <% data.forEach(function(command){ %>
            <div class="card text-white bg-primary mb-3" style="background-color: #990099 !important;">
              <div class="card-body">
                <h5 class="card-text"><%= command.shortcut %></h5>
              </div>
            </div>
            <% }) %>
            <br><br>
          </div>
        </div>
      </div>
    </div>

    <!-- Recommended Sources -->
    <div id="recommended-field">
      <div id="prototype-row">
        <div id="prototype-header">
          <h5>Suggested Resources</h5>
          <p style="font-size: 14px;">Usage: "Search {topic} for me" or "How to {topic}"</p>
        </div>
      </div>
      <div class="horizontal-scroll">
        <div class="card" style="width: 13rem;">
          <a href="https://docs.python.org/3/"><img class="card-img-top" width=auto height=130 src="/images/python.jpg"
              alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">Learn Python</p>
          </div>
        </div>
        <div class="card" style="width: 13rem;">
          <a href="https://docs.oracle.com/javase/7/docs/api/"><img class="card-img-top" width=50 height=100
              src="/images/java.png" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">Learn Java</p>
          </div>
        </div>

        <div class="card" style="width: 13rem;">
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"><img class="card-img-top" width=auto
              height=130 src="/images/javascript.png" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">Learn Javascript</p>
          </div>
        </div>

        <div class="card" style="width: 13rem;">
          <a href="https://www.w3schools.com/tags/tag_doctype.asp"><img class="card-img-top" width=auto height=130
              src="/images/html.png" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">Learn HTML</p>
          </div>
        </div>

        <div class="card" style="width: 13rem;">
          <a href="https://nodejs.org/en/docs/"><img class="card-img-top" width=auto height=130
              src="/images/nodejs.jpeg" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">Learn Node.js</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Create Command Modal -->
  <div id="contact-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Create Command</h3>
          <a class="close" data-dismiss="modal">×</a>
        </div>
        <form id="contactForm" name="contact" role="form">
          <div class="modal-body">
            <div class="form-group">
              <label for="shortcut">Shortcut</label>
              <input type="text" name="shortcut" class="form-control" id="shortcut_input">
            </div>
            <div class="form-group">
              <label for="language">Language</label>
              <select class="form-control" id="language">
                <option>Java</option>
                <option>Python</option>
                <option>Bash</option>
                <option>SQL</option>
                <option>HTML</option>
                <option>XML</option>
                <option>SQL</option>
                <option>CSS</option>
                <option>Javascript</option>
                <option>Makefile</option>
                <option>Rust</option>
              </select>
            </div>
            <div class="form-group">
              <label for="data">Full Body</label>
              <textarea rows="12" name="data" class="form-control" id="data_input"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" value="Create" style="background-color: #990099 !important;" id="create-btn"
              type="submit" disabled="true">
              <span id="loader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span id="submit_text"></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

<!-- On-ready alert -->
<script src="/javascripts/init.js"></script>

<!-- ACE Themes -->
<script src="/javascripts/ace.js"></script>

<!-- Loading animation and post requests -->
<script type="module" src="/javascripts/createcommand.mjs"></script>

<!-- Firebase -->
<script type="module" src="/javascripts/firebase.mjs"></script>

</html>