body {
  height: 100vh;
  width: 100vw;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/coolbg.png');
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.body {
  height: 100vh;
  width: 100vw;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/coolbg.png');
  background-position: center;
  background-size: cover;
  overflow: hidden;

}

/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333 }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: black }    /* punctuation */
pre .pln { color: black }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: decimal; }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 {
  color: 'black';
 }

#code-field {
  height: 460px;
  background: white;
  border-radius: 10px;
  font-size: 17px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}

#recommended-field {
  height: 180px;
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
  margin-right: 3px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  overflow: auto;
  white-space: nowrap;
}

.horizontal-scroll .card {
  white-space: wrap;
  overflow:hidden;
  margin: 10px;
  display: inline-block;
  height: 120px;
}

.header {
  margin-bottom: 20px;
}

.prototype {
  height: 460px;
  width: 300px;
  border-radius: 10px;
  background: white;
  margin-left: 10px;
  margin-right: 21px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  overflow-x: hidden;
}

#prototype-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#prototype-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#code-commands {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.command-list {
  height: 400px;
}

#code-field {
  width: '100%';
}

.loader {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 100px;
  height: 100px;
  width: 100px;
  background: white;
  opacity: 0.8;
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}

#big-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

#language-switch {
  width: 100px;
  height: 30px;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

@media only screen and (max-width: 1000px) {
  .prototype {
    flex: 1;

  }

  body {
    overflow-y: scroll;
  }

  .body {
    overflow-y: scroll;
  }
}

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}